@import helper._

@(requestForm: Form[Request], requestId: Long)
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Update Vacation Request") {
    @if(requestForm.hasGlobalErrors){
        <!--suppress ALL -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">@requestForm.globalError.message()</div>
            </div>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h2>New Vacation Request</h2>
                @b3.form(action = routes.Application.index()) {
                    @b3.date(requestForm("startDateForForm"), 'disabled -> "disabled", '_label -> "Start Date")
                    @b3.date(requestForm("endDateForForm"), 'disabled -> "disabled", '_label -> "End Date")
                    @b3.text(requestForm("location"), 'disabled -> "disabled", '_label -> "Location", 'placeholder -> "Where are you going?")
                    @b3.textarea(requestForm("notes"), '_label -> "Notes", 'disabled -> "disabled", 'placeholder -> "Anything else? (Optional)")
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-4">
                @b3.form(action = routes.VacationRequestController.update(requestId, "approved")) {
                    @b3.submit('class -> "btn btn-success"){ <span class="glyphicon glyphicon-ok"></span> Approve Request }
                }
            </div>
            <div class="col-md-2">
                @b3.form(action = routes.VacationRequestController.update(requestId, "denied")) {
                    @b3.submit('class -> "btn btn-danger"){ <span class="glyphicon glyphicon-remove"></span> Deny Request }
                }
            </div>
        </div>
    </div>
}