@import helper._

@(requestForm: Form[Request])
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("New Vacation Request") {
    @if(requestForm.hasGlobalErrors){
        <!--suppress HtmlFormInputWithoutLabel -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">@requestForm.globalError.message()</div>
            </div>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5">
                <h2>New Vacation Request</h2>
                @b3.form(action = routes.VacationRequestController.create()){
                    @b3.date(requestForm("startDate"), '_label -> "Start Date")
                    @b3.date(requestForm("endDate"), '_label -> "End Date")
                    @b3.text(requestForm("location"), '_label -> "Location", 'placeholder -> "Where are you going?")
                    @b3.textarea(requestForm("notes"), '_label -> "Notes", 'placeholder -> "Anything else? (Optional)")
                    @CSRF.formField
                    @b3.submit('class -> "center-block btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Submit }
                }
            </div>
        </div>
    </div>
}